:root {
    --bgColor: #eee;
    --color: #111;
    background: var(--bgColor);
    color: var(--color);
}
:root.dark {
    --bgColor: #111;
    --color: #eee;
}
::view-transition-new(root),
::view-transition-old(root) {
    animation: none;
    mix-blend-mode: normal;
}
/* 进入dark模式和退出dark模式时，两个图像的位置顺序正好相反 */
.dark::view-transition-old(root) {
    z-index: 999;
}
.dark::view-transition-new(root) {
    z-index: -1;
}

::view-transition-old(root) {
    z-index: -1;
}
::view-transition-new(root) {
    z-index: 999;
}